.markdown-renderer {
  padding: 10px 5px;
  border: 1px solid gray;
  border-width: 1px 0 0 0;

  // font-size: calc(7em / 6);

  ::ng-deep {
    code.hljs {
      display: inline;
      padding: 5px 5px;

      background-color: white;
      border-radius: 4px;
    }

    pre {
      code.hljs {
        display: block;
        padding: 10px 15px;
      }
    }
  }
}
